# colorama
# divvy
# h5netcdf
# h5py
# imagecodecs
# napari
# ordered-set
# outdated
# python-louvain
# xarray
anndata
imctools>=2.1.0,<3.0.0
joblib
leidenalg
networkx
numpy_groupies
pandas>=1.0.1
parmap
scanpy
tifffile==2020.6.3
# requests
