setuptools_scm
ordered-set
PyYAML
parmap
tqdm
joblib
numpy
numpy_groupies
scipy>=1.7
pandas>=1.0.1
matplotlib>=3.5
imctools>=2.1.0
tifffile==2020.6.3
scikit-image==0.17.2
leidenalg
python-louvain
networkx
scanpy
bbknn
seaborn-extensions
